<h1><%= @user.name %>任務列表</h1>


  <%= link_to "新增任務", "#" %>

  <table>
    <thead>
      <tr>
        <td>任務名稱</td>
        <td>類別</td>
        <td>內容</td>
        <td>進度</td>
		<td>重要度</td>
		<td>截止日</td>
		<td>負責人</td>
		<td>成員數</td>
      </tr>
    </thead>
    <tbody>
      <% @missions.each do |mission| %>
      <tr>
	    <td><%= mission.name %>
        <td><%= mission.kind %></td>
        <td><%= mission.content %></td>
        <td><%= mission.state %></td>
		<td><%= mission.level %></td>
		<td><%= mission.end_date %></td>
		<td><%= mission.supervisor %></td>
		<td><%= link_to mission.users.size, m_users_mission_path(mission), method: "get" %></td>
        <td>
		<%= link_to "刪除", rm_mission_user_path(mission), method: "delete", data: { confirm: "確認刪除" } %>
		</td>		
      </tr>
      <% end %>
    </tbody>
  </table>