<h1><%= @user.name + t("view.mission") + t("list") %>任務列表</h1>


  <%= link_to t("add") + t("view.mission"), "#" %>

  <table>
    <thead>
      <tr>
        <td><%= t("view.mission") + t("name") %></td>
        <td><%= t("view.type") %></td>
        <td><%= t("view.information") %></td>
        <td><%= t("view.state") %></td>
		<td><%= t("view.important_level") %></td>
		<td><%= t("view.end_day") %></td>
		<td><%= t("view.supervisor") %></td>
		<td><%= t("view.users") %></td>
      </tr>
    </thead>
    <tbody>
      <% @missions.each do |mission| %>
      <tr>
	    <td><%= mission.name %>
        <td><%= mission.kind %></td>
        <td><%= mission.content %></td>
        <td><%= mission.state %></td>
		<td><%= mission.level %></td>
		<td><%= mission.end_date %></td>
		<td><%= mission.supervisor %></td>
		<td><%= link_to mission.users.size, m_users_mission_path(mission), method: "get" %></td>
        <td>
		<%= link_to t("delete"), rm_mission_user_path(mission), method: "delete", data: { t("confirm_delete") } %>
		</td>		
      </tr>
      <% end %>
    </tbody>
  </table>