  <%= simple_form_for(mission) do |f| %>

    <%= f.input :name, label: t("view.mission") + t("name"), error: '請輸入任務名稱' %>
    <%= f.input :kind, label: t("view.type") %>
    <%= f.input :content, label: t("view.information"), error: '請輸入內容' %>

	<%= f.label :state, t("view.state") %><br />
	<%= f.select(:state, [['待處理', 1], ['進行中', 2], ['已結束', 3]]) %><br />

	<%= f.label :level, t("view.important_level") %><br />
	<%= f.select(:level, [['首要', 1], ['優先', 2], ['可延宕', 3], ['無DL', 4]]) %><br />

	<%= f.input :end_date, as: :date, label: '結束日期' %>
	<%= f.input :supervisor, label: t("view.supervisor") %>

	<% if @mission.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@mission.errors.count, "error") %> 錯誤:</h2>
		
	<ul>
	<% mission.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
	<% end %>
	
    <%= f.submit %>
  <% end %>