<h1><%= @mission.name + t("view.user") + t("list") %></h1>

  <%= link_to t("add")+t("view.user"), "#" %>

  <table>
    <thead>
      <tr>
        <td>t("name")</td>
        <td>t("view.email")</td>
        <td>t("view.root")</td>
		<td>t("view.missions")</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
	    <td><%= user.name %>
        <td><%= user.email %></td>
        <td><%= user.root %></td>
		<td><%= link_to user.missions.size, u_missions_user_path, method: "get" %></td>
        <td>
        <%= link_to t("delete"), mission_user_path(user), method: "delete", data: { confirm: t("confirm_delete") } %>
        </td>		
      </tr>
      <% end %>
    </tbody>
  </table>

