<h1><%= @mission.name %>人員列表</h1>

  <%= link_to "新增人員","#" %>

  <table>
    <thead>
      <tr>
        <td>名稱</td>
        <td>電子郵件</td>
        <td>權限</td>
		<td>任務數</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
	    <td><%= user.name %>
        <td><%= user.email %></td>
        <td><%= user.root %></td>
		<td><%= link_to user.missions.size, u_missions_user_path, method: "get" %></td>
        <td>
        <%= link_to "刪除", rm_user_mission_path(user), method: "delete", data: { confirm: "確認刪除" } %>
        </td>		
      </tr>
      <% end %>
    </tbody>
  </table>

